click==8.0.4
Flask==2.0.3
hausdorff==0.2.6
imageio==2.16.1
itsdangerous==2.1.0
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.1.0
networkx==2.7.1
numpy==1.21.5
packaging==21.3
Pillow==9.0.1
pyparsing==3.0.7
PyWavelets==1.2.0
scikit-image==0.19.2
scikit-learn==1.0.2
scipy==1.8.0
SimpleITK==2.1.1
threadpoolctl==3.1.0
tifffile==2022.2.9
torch==1.10.2
torchvision==0.11.3
tqdm==4.63.0
typing_extensions==4.1.1
Werkzeug==2.0.3
